* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

nav li {
  text-align: center;
  flex-grow: 1;
}

nav li#icon {
  flex-grow: 4;
  text-align: left;
  margin: 0.5rem;
}
